[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "==2.4.0"
django-filter = "==2.0.0"
djangorestframework = "==3.11.2"
pytz = "==2018.9"
Django = "==2.2.10"
Markdown = "==3.0.1"
djangorestframework-jwt = "*"
django-haystack = "*"
pillow = "*"

[requires]
python_version = "3.7"
